<div id="pictures-listing">

    <div id="pictures">
        <%= render 'admin/pictures/pictures' %>
    </div>

    <div id="modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    </div>

<script type="text/javascript">
    $('.editable').editable();

    $('.set-default').on('click', function(e){
        e.preventDefault();

        var $this = $(this);

        if($this.hasClass('disabled')) return false;

        var url = $(this).attr('href');


        var resource = $(this).data('resource');
        var name = $(this).data('name');
        var value = $(this).data('value');

        var nameValue = {};
        nameValue[name] = value;

        var params = {};
        params[resource] = nameValue;

        console.log(params);

        $.ajax({
            type: 'PUT',
            url: url,
            dataType: "json",
            data: params,
            success: function(data){
                $('.top-right').notify({
                    message: { text: 'Picture updated.' },
                    type: 'blackgloss'
                }).show();

                $this.parents('ul:first').find('li').each(
                    function(){
                        $(this).removeClass('default');
                    }
                ).find('.set-default').removeClass('disabled');

                $this.addClass('disabled');
                $this.parents('li:first').addClass('default');
            }
        });

    });
</script>

<%= link_to 'Add Pictures',
    new_admin_picture_path(:product_id => @product.id),
    :class => 'modal-ajax',
    data: {
        :target => '#modal', :reloadtarget => '#product-images', :reloadurl => admin_pictures_path(:product_id => @product.id)
    }
%>

<!-- modal-gallery is the modal dialog used for the image gallery -->
<div id="modal-gallery" class="modal modal-gallery hide fade" tabindex="-1">
<div class="modal-header">
  <a class="close" data-dismiss="modal">&times;</a>
  <h3 class="modal-title"></h3>
</div>
<div class="modal-body"><div class="modal-image"></div></div>
<div class="modal-footer">
  <a class="btn btn-primary modal-next">Next <i class="icon-arrow-right icon-white"></i></a>
  <a class="btn btn-info modal-prev"><i class="icon-arrow-left icon-white"></i> Previous</a>
  <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000"><i class="icon-play icon-white"></i> Slideshow</a>
  <a class="btn modal-download" target="_blank"><i class="icon-download"></i> Download</a>
</div>
</div>

</div>

