<h2>Moja Korpa</h2>
<table class="table">

  <thead>
  <tr>
    <th>Proizvod</th>
    <th style="text-align: right">Cena po kom.</th>
    <th>Kolicina</th>
    <th style="text-align: right">Cena</th>
  </tr>
  </thead>
  <tbody>
  <% if current_cart.line_items.count > 0 %>
  <%= render :partial => 'line_items/line_item', :collection => current_cart.line_items %>
  <tr class="total_line">
    <td colspan="2"><h4>Ukupno</h4></td>
    <td colspan="2" class="total_cell" style="text-align: right"><h4><%= format_price(current_cart.total_price) %></h4></td>
  </tr>
  <% else %>
  <tr>
    <td colspan="4">Vasa korpa je prazna</td>
  </tr>
  <tr>
    <td colspan="4">&nbsp;</td>
  </tr>
  <% end %>
  </tbody>

</table>

<div class="btn-toolbar">
<%= link_to raw('<i class="icon-trash pull-left"></i> Izprazni korpu'), current_cart, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-large btn-warning' %>
<%= link_to raw('<i class="icon-check pull-left"></i> Naruci'), new_order_path, :class => 'btn btn-large btn-info pull-right' %>
</div>
