<h2>My Cart</h2>
<table class="table">

  <thead>
  <tr>
    <th>Kol</th>
    <th>Proizvod</th>
    <th>Cena</th>
    <th></th>
  </tr>
  </thead>

  <%= render(current_cart.cart_items) %>

  <tr class="total_line">
    <td colspan="3"><h4>Total</h4></td>
    <td class="total_cell" style="text-align: right"><h4><%= format_price(current_cart.total_price) %></h4></td>
  </tr>

</table>



<%= link_to 'Change Cart Items', cart_path(current_cart), :class => 'btn btn-warning' %>
<a href="#" class="btn btn-info">Proceed to checkout</a>
