.cart{
	width: 500px;
    .table {
        margin-bottom: 0;
    }
	.btn-toolbar{
		margin-top: 0; margin-bottom: 15px;
	}
	
}

.product{
    height: 500px;
    position: relative;
    .caption{
    }
    .title {
        margin-bottom: 10px;
        line-height: normal;
        height: 110px; width: 100%;
        display: table;
        text-align: center;
        a {
            display: table-cell;
            vertical-align: middle;
        }
    }
    .price {
        text-align: center;
        color: @primaryColor;
        margin-top: 0;
    }
    hr {
        margin-top: 0; margin-bottom: 10px;
    }
    .buttons{
        margin-top: 20px;
    }
}

.in-cart{
	#gradient > .vertical( @white, lighten(@primaryColor, 25%) );
	border: 1px solid @primaryColor;
    .box-shadow(0 0 10px rgba(255,154,0,.8));
	position: relative;
	i.icon-top-info {
		&.icon-shopping-cart{
			font-size: 70px;
			position: absolute;
			width: auto; height: auto;
			top: -20px; right: -3px;
			color: @primaryColor;
			span {
				&.badge {
					position: absolute;
					left: 25px; top: 20px;
					font-style: normal;
				}
			}
		}
	}
    .price {
        color: @white;
    }
}