h1, h2, h3, h4, h5, h6 {
    &.logo{
        color: @primaryColor;
        text-shadow: -1px -2px 1px rgba(0,0,0,.25);
    }
    &.no-margin{
        margin: 0;
    }
}

.hero-unit{
    color: @white;
    text-shadow:1px 1px 3px rgba(0,0,0,.5);    
    h1, h2, h3, h4, h5, h6 {
        text-shadow:1px 1px 3px rgba(0,0,0,.5);
    }
   
    hr {
        border: none; border-top: 2px solid @primaryColor;
        &.divide{
            margin: 0; margin-bottom: 30px;
        }
    }
    .btn-toolbar {
        &.sort-actions{
            margin: 0; margin-top: 10px;
        }
    }
    .carousel-inner {
        .item {
            margin-top: 10px;
        }
    }
    .dropdown-menu{
        a {
            color: @white;
        }
    }
    .pagination {
        margin: 0;
    }
}