@primaryColor: #FF9A00;
@secondaryColor: #8C081F;

@contentBackground: #fafafa;

@labelInfoBackground: #209afa;
@labelInfoBackgroundHighlight: #0455fa;

@labelWarningBackground: #FF9A00;
@labelWarningBackgroundHighlight: #B26C00;

@navbarInverseBackground: #990823;
@navbarInverseBackgroundHighlight: #72061a;
@navbarInverseBorder: #D80B31;

@navbarInverseLinkColor: #E1E1E1;

@wellBackground: #969696;

@tableBorder: @grayDark;

@grayBackground:                #414141;
@grayBackgroundHighlight:       #323232;

@headingsFontFamily: "Cuprum", Helvetica, Arial, sans-serif;

// Dropdowns
// -------------------------
@dropdownBackground:            #FFB84C;
@dropdownBorder:                rgba(0,0,0,.2);
@dropdownDividerTop:            #e5e5e5;
@dropdownDividerBottom:         @white;

@dropdownLinkColor:             @grayDark;
@dropdownLinkColorHover:        @white;
@dropdownLinkColorActive:       @white;

@dropdownLinkBackgroundActive:  darken(@dropdownBackground, 15%);
@dropdownLinkBackgroundHover:   darken(@dropdownBackground, 5%);