.my-cart {
  visibility: hidden;
  &.visi{
    visibility: visible;
  }
}

.cart-toggle{
	position: relative;
	i{
		font-size: 18px;
	}
	
}

.nav > li > a > .my-cart-info{
	padding: 1px;
	position: absolute;
	top: 1px;
	right: 	4px;
	z-index: 1050;
}