<% title "Products" %>

<% for product in @products %>
    <div class="product">
      <h3>
        <%= link_to h(product.title), product %>
        <%= number_to_currency(product.price, :unit => 'din', :separator => ',', :format => '%n %u') %>
      </h3>
      Category: <%=h product.category.name %>
      <%= link_to raw('<i class="icon-plus-sign"></i> Add to Cart'), cart_items_path(product_id: product), :method => :post, remote: true, :class => 'btn btn-primary' %>
    </div>
<% end %>